Makefile.in
src/Makefile.in
config.*
src/.libs
src/.deps
*.lo
*.la
*.so
missing
ltmain.sh
libtool
install-sh
depcomp
configure
compile
autom4te.cache
aclocal.m4
src/.attic
Makefile
src/Makefile
m4/*
*.swp
